{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="container">
  <div class="row aggregate-row">
    <div class="col-sm-4">
      <div class="profile-portfolio-agg">
          <h4> Total Invested</h4>
          <p>${{total_invested | floatformat:2}}</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="profile-portfolio-agg">
          <h4> Current Value</h4>
          <p>${{total_porfolio_value | floatformat:2}}</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="profile-portfolio-agg">
          <h4>Profit/Loss</h4>
          <p>${{portfolio_difference | floatformat:2}}</p>
      </div>
    </div>
  </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="profile-aggregate">
              <h4>Top Crypto Investments</h4>
              <div class="profile-coins-aggregate">
                {% if aggregate_values %}
                {% for key, value in aggregate_values.items %}
                <div class="profile-coin"><span>{{key}}</span> <span><span class="profile-total-hint">Total</span> ${{value | floatformat:2}}</span></div>
                <hr>
                {% endfor %}
              {% endif %}
              </div>
            </div>
            <hr>
            {% if purchases %}
            <div class="profile-aggregate">
              <h4>All Trades</h4>
              <div class="profile-coins-aggregate">
                  {% for purchase in purchases %}
                <div class="profile-coin"><span>{{purchase.coin.ticker}}</span><span><span class="profile-total-hint">Profit/Loss </span>{{purchase.difference | floatformat:2}}</span><span> <a data-toggle="modal" data-target="#deleteModal" data-amount="{{purchase.amount}}" data-price="{{purchase.bought_at}}" data-title="{{purchase.coin.name}}" data-coinid="{{purchase.id}}" href="#" style="font-weight:bold;" class="profile-delete">DEL</a></span></div>
                  <hr> 
                {% endfor %}
              </div>
            </div>
            {%endif%}
        </div>
      <div class="col-sm-7">
        
            <div class="profile-aggregate">
                <h4>All Coins</h4>
                <div class="profile-coins-aggregate profile-coins-list">
                  {% if coin_list %}
                  {% for coin in coin_list %}
                  <div class="profile-coin dash-list-coin">
                    <span>{{coin.name}}</span> <span><span class="profile-total-hint">Price</span> ${{coin.current_price}}</span>
                    <a data-toggle="modal" data-target="#addModal" data-title="{{coin.name}}" data-coinid="{{coin.id}}" href="#" style="font-weight:bold;" class="profile-add">ADD</a>
                  </div>
                  <hr>
                  {% endfor %}
                {% endif %}
                </div>
              </div>
      </div>
    </div>
</div>




<!--Add Modal -->
<form action="/profile" method="POST">

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="add_modal_title" class="modal-title" id="addModalLabel">Add an Investment To Keep Track Of</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        {% csrf_token %}
      <div class="modal-body">
        <input id="coin_id_hidden" type="hidden" name="coin_id" value="">
          {{form.as_p}}
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">ADD</button>
      </div>
    </div>
  </div>
</div>
</form>



<!-- Delete Modal -->
<form action="/profile/purchase/delete" method="POST">

  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          {% csrf_token %}
        <div class="modal-body">
          <p id="deleteModalDetails">Are you sure you want to delete this Bitcoin investment?</p>
            {{delete_form.as_p}}
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Delete It</button>
        </div>
      </div>
    </div>
  </div>
  </form>


{% endblock %}