body {
    background-color: #2E0536;
    color:#f1f1f1;
  }



.aggregate-row {
    margin-bottom:10px;
}

.profile-aggregate {
    box-sizing:border-box;
    border-radius:5px;
    width:100%;
    margin:0 auto;
}

.profile-coins-aggregate {
    overflow-x:scroll;
    background-color:#481F4F;
    height:160px;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 2px 2px -2px
}

.profile-coins-list {
    min-height:275px;
    max-height:400px;
}

.profile-coins-aggregate a {
    padding-left:10px;
    color:#2E0536;
    margin:0;
}



.profile-coins-aggregate hr {
   padding:0;
   margin:0;
}

.profile-portfolio-agg {
    background-color:#481F4F;
    border:1px solid #763382;
    margin-top:5%;
    padding-top:2%;
    text-align:center;
}



.profile-aggregate h4 {
    background-color: #390643;
    margin: 20px 0 0 0;
    padding:10px;
    text-align:center;
}



.profile-coin {
    margin-bottom:0;
    padding:5px;
    border-bottom:1px solid #763382;
    color:#E6BCFF;
    display: flex;
    justify-content: space-around;
}


.profile-total-hint {
    font-size:12px;
    color:#666;
}

.dash-list-coin {
    font-size:28px;
    padding:10px;
  }

  .content-container {
      margin-top:50px;
  }

  .modal {
      color:black;
  }

  .home-header {
      text-align: center;
      margin:30px 0;
  }

  .home-header a {
      color:white;
      text-decoration: underline;
  }

.home-coin-list, .home-list-container h4 {
    width:80%;
    margin:0 auto;
}
