{% extends 'base.html' %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="home-header">
                <h1>Coinvestment</h1>
                <h4>Keep track of your crypto investments.</h4>
                <p>Get started by signing up <a href="/register">here</a>. If you already have an account, login <a href="/accounts/login">here</a>.</p>
            </div>
            <div class="profile-aggregate home-list-container">
                <h4>All Cryptocurrencies We Track</h4>
                <div class="profile-coins-aggregate home-coin-list">
                        {% for coin in coins %}
                        <div class="profile-coin"><span>{{coin.name}}</span> <span><span class="profile-total-hint">Current Price</span> ${{coin.current_price}}</span></div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}